@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
}

article {
  padding-bottom: 75vh;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.375rem;
  background-color: #2D2D2D;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3F3F3F;
}

::-webkit-scrollbar-thumb:active {
  background-color: #323232;
}

@layer components {
  .control {
    @apply border-2 outline-none rounded-md px-2
    disabled:opacity-50 disabled:cursor-not-allowed
  }

  .container {
    @apply px-1 border-2 outline-none rounded-md dark:bg-primaryControl dark:border-primaryBorder h-fit w-fit
  }
}